<%- include('../partials/admin-header'); %>

  <div class="col-10 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Products</h4>
        <form class="forms-sample" action="/admin/addProducts" method="post" enctype="multipart/form-data">
          <div class="form-group">
            <label for="exampleInputName1">Product Name</label>
            <input type="text" name="name" class="form-control" id="exampleInputName1" placeholder="Name">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail3">Brand</label>
            <input type="text" name="brand" class="form-control" id="exampleInputEmail3" placeholder="Brand">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword4">Quantity</label>
            <input type="number" name="quantity" class="form-control" id="exampleInputPassword4" placeholder="Quantity">
          </div>
          <div class="form-group">
            <label for="exampleSelectGender">Category</label>
            <select class="form-control" name="category" id="exampleSelectGender">
              <% result.forEach(function(result){ %>
              <option><%= result.category %></option>
              <% }); %>
            </select>
          </div>
          <div class="form-group">
            <label for="productImage" class="form-label">Image</label>
            <input type="file" name="productImage" class="form-control" id="productImage" multiple>
            <!-- <div class="input-group col-xs-12">
              <input type="text" class="form-control file-upload-info" disabled placeholder="Image">
              <span class="input-group-append">
                <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
              </span>
            </div> -->
          </div>
          <div class="form-group">
            <label for="exampleInputCity1">Price</label>
            <input type="number" name="price" class="form-control" id="exampleInputCity1" placeholder="Price">
          </div>
          <div class="form-group">
            <label for="exampleTextarea1">Description</label>
            <textarea class="form-control" name="description" id="exampleTextarea1" rows="4"></textarea>
          </div>
          <button type="submit" class="btn btn-primary mr-2">Submit</button>
          <!-- <button class="btn btn-light">Cancel</button> -->
        </form>
      </div>
    </div>
  </div>

  <%- include('../partials/admin-footer'); %>